.banner{
    /* background: url('https://occ-0-3195-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABRmDPSfzYbJ2SnGA4sV2ptJEDknwmvqvueIdQaJeFEMdqEKcIBVszh-03BQ7S2I-pq-_EHR8QNG4v4RT3UcWDHn9ycby6CE6Wxj_.webp?r=208'); */
    color: rgb(255, 255, 255);
    background-size: cover;
    height: 650px;
    min-width: 100px;
    
}
.content{
    padding-top: 140px;
    height: 190px;
    margin-left: 70px;
   
}
.movei_name h1{
    max-width: 500px;
    font-weight: 800px;
    font-size: 50px;
}
.movei_today{
    display: flex;
    width: fit-content;
    gap: 15px;
    margin: 10px 0 10px 0;
}

.movei_today .top10{
    background: red;
    width: fit-content;
    padding: 5px;
    line-height: 90%;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
    height: fit-content;
}
.description{
    max-width: 540px;
    line-height: 1.3;
    font-weight: 600;
    font-size: large;
    margin-bottom: 15px

}
.banner_button button{
    padding: 0.7rem 2rem 0.7rem 2rem;
    font-size: medium;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    font-size: large;
    
}
.banner_button button i{
    font-size: larger;
}
.PlayButton{
    background: rgb(255,255,255);
    margin-right: 10px;
    
}
.More_info_Button{
    background: rgb(78,78,78);
    color: white;
}
.fade_bottum{
    height: 20rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.2),#111);
}
